h1 {
  color: darkslategrey;
  top: 36px;
  left: 14px;
  font-family: Lucida Handwriting;
  font-size: 50px;
}

h3 {
  font-family: papyrus;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
  font-family: Copperplate;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 17px; 
}

li a:hover {
  background-color: black;
}

img { 
  width: 100%; 
}
